.git
./.git
storage/app/logs/laravel.log
./storage/app/logs/laravel.log
.cache
./.cache
vendor
./vendor
node_modules
./node_modules
deploy
./deploy
stack
./stack
.editorconfig
.gitattributes
.stylecy.yml
.env
